Flask==0.10.1
Flask-Login==0.3.2
Flask-Mail==0.9.1
Flask-Migrate==1.8.0
Flask-SQLAlchemy==2.1
Flask-Script==2.0.5
SQLAlchemy==1.0.13
Werkzeug==0.11.9
pymysql==0.7.9
qrcode==5.3
pillow==3.4.2
openpyxl==2.4.0
redis==2.10.5
