<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="author" content="www.frebsite.nl" />
    <meta name="viewport" content="width=device-width initial-scale=1.0 maximum-scale=1.0 user-scalable=yes" />
    <title>detail</title>
    <link type="text/css" rel="stylesheet" href="../../static/css/hamburgers.css" />
    <link type="text/css" rel="stylesheet" href="../../static/css/jquery.mmenu.all.css" />
    <link rel="stylesheet" type="text/css" href="../../static/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../../static/font/css/font-awesome.css">
    <!-- Stylesheet
        ================================================== -->
    <link rel="stylesheet" type="text/css" href="../../static/css/detailstyle.css">
    <script type="text/javascript" src="../../static/js/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="../../static/js/jquery.mmenu.all.min.js"></script>
    <style>
    html,
    body {
        padding: 0;
        margin: 0;
    }
    
    body {
        background-color: #fff;
        font-family: Arial, Helvetica, Verdana;
        font-size: 14px;
        line-height: 22px;
        color: #666;
        position: relative;
        -webkit-text-size-adjust: none;
    }
    
    body * {
        text-shadow: none;
    }
    
    p {
        margin: 0;
    }
    
    .header {
        text-align: center;
        background: #777;
        font-size: 16px;
        font-weight: bold;
        color: #fff;
        line-height: 60px;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%;
        height: 60px;
        padding: 0 50px 0 20px;
    }
    
    .header a {
        display: block;
        width: 40px;
        height: 60px;
        position: absolute;
        top: 0;
        right: 30px;
    }
    .boxsm{
        padding-right: 6%;
        padding-left: 6%
    }
    #introduce{
        padding-right: 6%;
        padding-left: 2%
    }
     #toTop {
    position: fixed;
    bottom: 0px;
    right: 10px;
    overflow: hidden;
    width: 48px;
    height: 48px;
    border: none;
    text-indent: 100%;
    background-size: 35px;
    background: url(../../static/images/arrow.png) no-repeat 0px 0px;
    }
    </style>
    <script type="text/javascript">
    $(function() {
        $("nav#menu")
            .mmenu({
                navbar: {
                    title: ""
                },
                navbars: [{
                    height: 3,
                    content: ['<a align="center"><img src="../../static/images/coupon_icon4.png" /></a><div class="bbiigg" id="username"><a href="admin.html">管理员</a></div>']
                }],
                counters: true,
                extensions: ["pagedim-black", "pageshadow", "effect-menu-zoom", "theme-dark", "widescreen"],
                offCanvas: {
                    position: "right"
                }
            })
    });
    </script>
</head>

<body>
    <div id="page">
        <nav class="navbar navbar-fixed-top">
            <div class="header">
                <a href="#menu" id="hamburger" class="hamburger hamburger--collapse">
                    <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                    </span>
                </a>
                <p align="left">NJU-Volunteer</p>
            </div>
        </nav>
        <section id="about">
            <div id="counter" class="text-center">
                <div class="container">
                    <div class="row">
                        <!-- Row -->
                        <div class="col-md-12">
                            <div>
                                <div class="skills">
                                    <h1 id="tit" align="center" style="margin-top: 10px;">法律进校园</h1>
                                   <p id="introduce"> &emsp;&emsp;
                                    法学院团委实践部“法律进校园”活动志愿者招募令 或许你期待回到初中校园走上讲台，以全新的身份走进课堂； 或许你想与南师附中的优秀学子分享法律知识； 或许你还在为已经错过的志愿服务懊悔； 或许你还想再次参与公益实践锻炼自我； 或许你还在等待一个机会…… 11月，法学院团委实践部推出“法律进校园”活动满足你的期待！ “法律进校园”活动事法学院团委与南师附中协作开展的普法活动。活动面向南师附中初一、初二学生，旨在围绕一个特定案件，通过一节课的话剧表演、法理讲解与互动普及一些基本的法律知识、激发对法律和法哲学的兴趣。作为实践部的保留项目，法律进校园活动在过去几年中进展顺利，受到南师附中师生的一致好评。 本期活动中，南师附中授课内容主要包括话剧表演、学生讨论并发言、案例分析几个部分。其中话剧部分有10-15分钟的话剧表演，需要志愿者根据现有剧本表演法律假想剧《洞穴奇案》。剧本内容比较生动，演出难度不大，只要拥有热情与表现力都可以加入我们。
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 boxsm">
                            <div class="row">
                                <div class="counter">
                                    <div class="col-xs-6 facts">
                                        <!-- counter #1 -->
                                        <div class="count-box">
                                            <i class="fa fa-mobile"></i>
                                            <p id="">联系人：Name</p>
                                            <p class="small">联系方式：Mobile</p>
                                        </div>
                                    </div>
                                    <!-- end counter #1 -->
                                    <div class="col-xs-6 facts">
                                        <!-- counter #2 -->
                                        <div class="count-box">
                                            <i class="fa fa-user"></i>
                                            <p id="people">6/12</p>
                                            <p class="small">报名/需求人数</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="counter">
                                    <div class="col-xs-6 facts">
                                        <!-- counter #3 -->
                                        <div class="count-box">
                                            <i class="fa fa-arrows"></i>
                                            <p id="">0</p>
                                            <p class="small">签到人数</p>
                                        </div>
                                    </div>
                                    <div class="col-xs-6 facts">
                                        <!-- counter #4 -->
                                        <div class="count-box">
                                            <i class="fa fa-download"></i>
                                            <p id="">6</p>
                                            <p class="small"><a href="admin.html">编辑修改</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Row -->
                </div>
            </div>
        </section>
        <section id="footer">
            <div class="container">
                <p align="center">Copyright &copy; 2016</p>
            </div>
        </section>
        <!-- Totop 角标-->
        <script type="text/javascript" src="../../static/js/move-top.js"></script>
            <script type="text/javascript">
                $(document).ready(function() {
                    $().UItoTop({
                        easingType: 'easeOutQuart'
                    });
                });
        </script>
        <a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
        <nav id="menu">
            <ul>
                <li></li>
                <li><a href="admin_index">活动首页</a></li>
                <li><a href="admin">管理员</a> </li>
            </ul>
        </nav>
    </div>
    <script>
    //部分显示
    var sl = document.getElementById("introduce");
    var slh = sl.innerHTML.slice(0, 240) + '...';
    sl.innerHTML = slh;
    //url传参
    var getb = window.location.href;
    var acid = getb.split("?")[1].split("=")[1];
    //ajax
    $(document).ready(function() {
        $.ajax({
            url: '/api/1v1.0/unfinished_activities',
            dataType: 'JSON',
            type: 'GET',
            success: function(data) {
                for (var i = 0; i < data.length; i++) {
                    if (data[i].acid == acid) {
                        $("#tit").html(data[i].title);
                        $("#introduce").html(data[i].introduce);
                        var people = '';
                        people += data[i].actual_stus;
                        people += "/";
                        people += data[i].required_stus;
                        $("#people").html(people);
                    }
                }
            }
        })
    });
    </script>
</body>

</html>
