<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="author" content="www.frebsite.nl" />
    <meta name="viewport" content="width=device-width initial-scale=1.0 maximum-scale=1.0 user-scalable=yes" />
    <title>detail</title>
    <link type="text/css" rel="stylesheet" href="../../static/css/hamburgers.css" />
    <link type="text/css" rel="stylesheet" href="../../static/css/jquery.mmenu.all.css" />
    <link rel="stylesheet" type="text/css" href="../../static/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../../static/font/css/font-awesome.css">
    <!-- Stylesheet
        ================================================== -->
    <link rel="stylesheet" type="text/css" href="../../static/css/detailstyle.css">
    <script type="text/javascript" src="../../static/js/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="../../static/js/jquery.mmenu.all.min.js"></script>
    <script type="text/javascript" src="../../static/js/bootstrap.min.js"></script>
    <style>
    html,
    body {
        padding: 0;
        margin: 0;
    }
    
    body {
        background-color: #fff;
        font-family: Arial, Helvetica, Verdana;
        font-size: 14px;
        line-height: 22px;
        color: #666;
        position: relative;
        -webkit-text-size-adjust: none;
    }
    
    body * {
        text-shadow: none;
    }
    
    p {
        margin: 0;
    }
    
    .header {
        text-align: center;
        background: #777;
        font-size: 16px;
        font-weight: bold;
        color: #fff;
        line-height: 60px;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%;
        height: 60px;
        padding: 0 50px 0 20px;
    }
    
    .header a {
        display: block;
        width: 40px;
        height: 60px;
        position: absolute;
        top: 0;
        right: 30px;
    }
    
    .boxsm {
        padding-right: 6%;
        padding-left: 6%
    }
    
    #introduce {
        padding-right: 6%;
        padding-left: 2%
    }
    </style>
</head>

<body>
    <div id="page">
        <nav class="navbar navbar-fixed-top">
            <div class="header">
                <p align="left">NJU-Volunteer</p>
            </div>
        </nav>
        <section id="about">
            <div id="counter" class="text-center">
                <div class="container">
                    <div class="row">
                        <!-- Row -->
                        <input type="hidden" id="acid" value="{{acid}}">
                        <div class="col-md-12">
                            <div>
                                <div class="skills">
                                    <h1 id="tit" align="center" style="margin-top: 10px;">{{title}}</h1>
                                    <p id="introduce"> {{introduce}}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 boxsm">
                            <div class="row">
                                <div class="counter">
                                    <!-- end counter #1 -->
                                    <div class="col-xs-3 facts">
                                        <!-- counter #2 -->
                                        <div class="count-box">
                                            <i class="fa fa-user"></i>
                                            <p>{{number}}
                                                <br/>报名/需求</p>
                                        </div>
                                    </div>
                                    <div class="col-xs-3 facts">
                                        <!-- counter #1 -->
                                        <div class="count-box">
                                            <i class="fa fa-mobile"></i>
                                            <p id="change"><a data-toggle="modal" data-target="#myModal">点击<br/>编辑修改</a></p>
                                        </div>
                                    </div>
                                    <div class="col-xs-3 facts">
                                        <!-- counter #3 -->
                                        <div class="count-box">
                                            <i class="fa fa-arrows"></i>
                                            <p><a data-toggle="modal" data-target="#myModal">生成
                                                <br/>签到二维码</a></p>
                                        </div>
                                    </div>
                                    <div class="col-xs-3 facts">
                                        <!-- counter #4 -->
                                        <div class="count-box">
                                            <i class="fa fa-download"></i>
                                            <p><a data-toggle="modal" data-target="#myModal">生成
                                                <br/>签退二维码</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="footer">
            <div class="container">
                <p class="pull-right">Copyright &copy; 2016.</p>
            </div>
        </section>
    </div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">
                    <ul class="nav nav-tabs" role="tablist" id="tab-list">
                        <li class="active"><a href="#home" role="tab" data-toggle="tab">修改</a></li>
                        <li><a href="#school" role="tab" data-toggle="tab">签到二维码</a></li>
                        <li><a href="#work" role="tab" data-toggle="tab">签退二维码</a></li>
                    </ul>
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="tab-content">
                            <div class="tab-pane active" id="home">
                                <div class="row feature">
                                    <form class="form-horizontal" role="form">
                                        <div class="form-group">
                                            <label for="title" class="col-sm-2 control-label textal">活动title</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control2 inputal" value="" id="title" placeholder="活动title">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="address" class="col-sm-2 control-label textal">活动地点</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control2" id="address" placeholder="活动地点">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="required_stus" class="col-sm-2 control-label textal">需求人数</label>
                                            <div class="col-sm-10">
                                                <input type="number" class="form-control2" id="required_stus" placeholder="需求人数">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="start_time" class="col-sm-2 control-label textal">活动开始时间</label>
                                            <div class="col-sm-4">
                                                <input type="text" class="form-control2" id="start_time" placeholder="活动时间安排">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="finished_time" class="col-sm-2 control-label textal">活动结束时间</label>
                                            <div class="col-sm-4">
                                                <input type="text" class="form-control2" id="finish_time" placeholder="活动时间安排">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="alltime" class="col-sm-2 control-label textal">志愿时长</label>
                                            <div class="col-sm-10">
                                                <input type="number" class="form-control2" id="alltime" placeholder="志愿时长(小时)">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="introduce2" class="col-sm-2 control-label textal">活动介绍</label>
                                            <div class="col-sm-10">
                                                <textarea type="text" class="form-control2" style="height:84px;" id="introduce2" placeholder="活动介绍"></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="actype" class="col-sm-2 control-label textal">活动类型</label>
                                            <div class="col-sm-10">
                                                <div class="radioo" id="actype">
                                                    <input type="radio" name="options" id="actype1" value="1" checked>类型1
                                                    <input type="radio" name="options" id="actype2" value="2">类型2
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <button type="button" id="publish" class="btn btn-success" style="margin-left: 25%;">确认修改</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="tab-pane" id="school">
                                <div class="row feature">
                                    <form class="form-horizontal" role="form">
                                        <div class="form-group">
                                            <label for="checkin_start" class="col-sm-2 control-label textal">签到开始时间</label>
                                            <div class="col-sm-10">
                                                <input type="datetime-local" class="form-control2" id="checkin_start" placeholder="签到开始时间">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="checkin_work" class="col-sm-2 control-label textal">有效期</label>
                                            <div class="col-sm-10">
                                                <input type="" type="number" class="form-control2" id="checkin_work" placeholder="有效期（分钟）">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <button type="button" id="checkin" class="btn btn-success" style="margin-left: 25%;">生成</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="tab-pane" id="work">
                                <div class="row feature">
                                    <form class="form-horizontal" role="form">
                                        <div class="form-group">
                                            <label for="checkout_start" class="col-sm-2 control-label textal">签退开始时间</label>
                                            <div class="col-sm-10">
                                                <input type="datetime-local" class="form-control2" id="checkout_start" placeholder="签到开始时间">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="checkout_work" class="col-sm-2 control-label textal">有效期</label>
                                            <div class="col-sm-10">
                                                <input type="" type="number" class="form-control2" id="checkout_work" placeholder="有效期（分钟）">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <button type="button" id="checkout" class="btn btn-success" style="margin-left: 25%;">生成</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
    $(function() {
        var acid = $("#acid").val();
        alert("a");
        // $.ajax({
        //     url: "/api/v1_0/activities",
        //     dataType: "JSON",
        //     type: "GET",
        //     success: function(data) {
        //         if (data.status == "ok") {
        //             for (var i = 0; i < data.result.length; i++) {
        //                 if (data.result[i].acid == acid) {
        //                     if (data.result[i].actype == "1") {
        //                         $('#actype1').checked = true;
        //                     }
        //                     else{
        //                         $("#actype2").checked = true;
        //                     }
        //                     $("#title").val() = data.result[i].subject,
        //                     $("#address").val() = data.result[i].address,
        //                     $("#introduce2").val() = data.result[i].introduce,
        //                     $("#start_time").val() = data.result[i].start_time,
        //                     $("#finish_time").val() = data.result[i].finish_time,
        //                     $("#required_stus").val() = data.result[i].required_stus,
        //                     $("#alltime").val() = data.result[i].alltime
        //                 },
        //             }
        //         }
        //     }
        // });
        $("#checkin").click(function() {
            $.ajax({
                url: "/api/v1_0/qrcode/checkin",
                dataType: "JSON",
                type: "POST",
                data: {
                    acid: acid,
                    checkin_start: $("#checkin_start").val(),
                    checkin_work: $("#checkin_work").val()
                },
                success: function(data) {
                    alert(data);
                }
            });
        });
        $("#checkout").click(function() {
            $.ajax({
                url: "/api/v1_0/qrcode/checkout",
                dataType: "JSON",
                type: "POST",
                data: {
                    acid: acid,
                    checkout_start: $("#checkout_start").val(),
                    checkout_work: $("#checkout_work").val()
                },
                success: function(data) {
                     alert(data);
                }
            });
        });
    });
    </script>
</body>

</html>
