<!DOCTYPE html>
<html id="main">

<head>
    <meta charset="utf-8" />
    <meta name="author" content="www.frebsite.nl" />
    <meta name="viewport" content="width=device-width initial-scale=1.0 maximum-scale=1.0 user-scalable=yes" />
    <title>活动首页</title>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="../static/css/jquery.mmenu.all.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="../static/css/tabs.css" />
</head>

<body>
    <div id="page">
        <div class="header">
            <a href="#menu" id="hamburger" class="hamburger hamburger--collapse">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </a>
            <p align="left">NJU-Volunteer</p>
        </div>
        <div class="content">
            <div class="about">
                <div class="container">
                    <div class="about-main">
                        <section>
                            <div class="tabs tabs-style-topline">
                                <nav>
                                    <ul>
                                        <li>
                                            <a href="#section-topline-1" class="icon icon-home">
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#section-topline-2" class="icon icon-gift"></a>
                                        </li>
                                    </ul>
                                </nav>
                                <div class="content-wrap">
                                    <section id="section-topline-1">
                                    </section>
                                    <section id="section-topline-2">
                                    </section>
                                </div>
                            </div>
                        </section>
                        <div class="clearfix"> </div>
                    </div>
                </div>
            </div>
            <div class="footer">
                <div class="container">
                    <div class="footer-main">
                        <div class="col-md-12 footer-left">
                            <p>Copyright &copy; 2016</p>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
            </div>
        </div>
        <nav id="menu">
            <ul>
                <li></li>
                <li><a href="/">活动首页</a></li>
                <!-- <li><a href="/user">个人信息</a> </li> -->
            </ul>
        </nav>
    </div>
    <script src="https://cdn.bootcss.com/jquery/1.11.0/jquery.min.js"></script>
    <script src="../static/js/jquery.mmenu.all.min.js"></script>
    <script type="text/javascript" src="../static/js/modernizr.custom.js"></script>
    <script type="text/javascript" src="../static/js/index_ajax.js"></script>
    <script type="text/javascript" src="../static/js/cbpFWTabs.js"></script>
    <script type="text/javascript">
    (function() {

        [].slice.call(document.querySelectorAll('.tabs')).forEach(function(el) {
            new CBPFWTabs(el);
        });

    })();
//    $(document).ready(function() {
//        var pageheight = window.innerHeight;
//        var conheight = $('.about').height();
//        if (pageheight > conheight) {
//            $(".footer").addClass("fixed");
//        } else {
//            $(".footer").removeClass("fixed");
//        }
//    });
    </script>
</body>

</html>
